:root {
  /* Replaces the primary green with a custom blue */
  --PRIMARY-color: #2a56ad; 
  --PRIMARY-color-light: #3377ff;
  --PRIMARY-color-dark: #0044cc;
}

/* You can also specify different colors for dark mode within the same file */
@media (prefers-color-scheme: dark) {
  :root {
    --PRIMARY-color: #2a56ad; 
    --PRIMARY-color-light: #6699ff;
    --PRIMARY-color-dark: #0055ff;
  }
}