name: Deploy Hugo Site to Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_ENV: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive # Fetch Hugo themes/modules
          fetch-depth: 0       # FIX: Fetches all history so Hugo can access correct Git commit dates

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest' # Automatically uses the latest stable Hugo version
          extended: true

      - name: Build with Hugo
        run: hugo --minify
        working-directory: ./cyber-notes # Points to your subdirectory

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./astra-docs/public # Uploads the built site

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
